<!DOCTYPE html>
<html>
<head>
  <title>Login System</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">  
  <header class="navbar navbar-fixed-top navbar-default">
    <div class="container">
      <%= link_to "Login System", users_path, class: "btn btn-lg btn-success", id: "logo" %>
      <nav>
        <ul class="nav nav-pills headerDetail">	
          <li role="presentation"><%= link_to "All Users", users_path %></li>
          <li role="presentation"><%= link_to "About", '' %></li>
          <li role="presentation"><%= link_to "Help", '' %></li>
        </ul>
      </nav>  
    </div>
  </header>

<%= yield %>
</div>
</body>
</html>
